html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  scrollbar-width: thin;          /* "auto" or "thin"  */
  scrollbar-color: #007B67 #ebecf1;
}

body::-webkit-scrollbar {
  width: 1rem;
}

body::-webkit-scrollbar-track {
  background: #ebecf1;
}

body::-webkit-scrollbar-thumb {
  background: #007B67;
  border-radius: 5px;
}
